
*,
*::before,
*::after {
  box-sizing: border-box;
      padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}

:root {
  /* Base */
  --white: #ffffff;
  --black: #000000;

  /* Greys */
  --grey-950: #08070b;
  --grey-900: #14131b;
  --grey-850: #18171f;
  --grey-800: #24232c;
  --grey-700: #54535b;
  --grey-600: #817d92;
  --grey-200: #e6e5ea;

  /* Accent */
  --green: #a4ffaf;
  --yellow: #f8cd65;
  --orange: #fb7c58;
  --red: #f64a4a;
}


body {
  min-height: 100vh;
  background-color: var(--grey-950);
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 343px; /* Frontend Mentor mobile width */
}

.container h1 {
  text-align: center;
  color: var(--grey-600);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.password-display {
  background-color: var(--grey-800);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.password-display input {
  background: transparent;
  border: none;
  color: var(--grey-200);
  font-size: 1.1rem;
  width: 100%;
}
.password-display input::placeholder {
  color: var(--grey-600);
}
.password-display input:focus {
  outline: none;
}
#copy-btn {
  background: none;
  border: none;
  color: var(--green);
  font-weight: 700;
  cursor: pointer;
}
#copy-btn:hover{
    color:var(--white);
}


.Password-analysis {
  background-color: var(--grey-800);
  padding: 1rem;
}

.length-section {
  margin-bottom: 1.5rem;
}

.length-section label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-200);
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

#length-value {
  color: var(--green);
  font-size: 1.2rem;
}

input[type="range"] {
  width: 100%;
  accent-color: var(--green);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.checkbox input {
  display: none;
}
/* .options label {
  color: var(--grey-200);
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
} */
/* .options input {
  accent-color: var(--green);
  background-color: var(--grey-850);
  border: 1px solid white;
} */
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--grey-200);
  font-size: 0.85rem;
  cursor: pointer;
}
.custom-box {
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-200);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked + .custom-box {
  background-color: var(--green);
  border-color: var(--green);
}

.custom-box::after {
  content: "✔";
  color: var(--grey-950);
  font-size: 12px;
  display: none;
}

.checkbox input:checked + .custom-box::after {
  display: block;
}
.strength {
  background-color: var(--grey-850);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}


.strength-label {
  color: var(--grey-600);
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* RIGHT SIDE (TEXT + BARS) */
.strength-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
/* RIGHT SIDE (TEXT + BARS) */
.strength-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.strength-bars {
  display: flex;
  gap: 0.4rem;
}
.bar {
  width: 10px;
  height: 22px;
  border: 1px solid var(--grey-200);
}

#generate-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--green);
  border: none;
  color: var(--grey-950);
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}
#generate-btn:hover {
  background-color: var(--white);
}
#generate-btn span{
    padding-left: 0.8rem;
}


@media (min-width: 768px) {

  body {
    padding: 2rem;
  }

  .container {
    max-width: 540px;
  }

  .container h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .password-display {
    padding: 1.25rem;
  }

  .password-display input {
    font-size: 1.3rem;
  }

  .Password-analysis {
    padding: 1.5rem;
  }

  .checkbox {
    font-size: 0.9rem;
  }

  #generate-btn {
    padding: 1.2rem;
    font-size: 1rem;
  }
}
